
<br><br>
<section class="about-wrap1 motion-effects-wrap">
    <div class="shape-img1">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-box1 wow fadeInLeft" data-wow-delay=".3s">
                    <div class="">
                        <div class="motion-effects1">
                            <img src="{{singleapartment[0].img}}" alt="shape" width="550" height="380">
                        </div>
                        
                    </div>
                                               
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-box2 wow fadeInRight" data-wow-delay=".5s">
                    <div class="item-heading-left mb-bottom">
                        <span class="section-subtitle" style="color: rgb(49, 182, 137);"><b>About Apartments</b></span>
                        <h2 class="section-title">{{singleapartment[0].title}}</h2>
                    </div>
                    <p> {{singleapartment[0].desc}}
                    </p>
                    <hr>
                    <h5>Location</h5>
                    <p>{{singleapartment[0].loc}}</p>

                    <div class="about-box-10">
                       <div class="banner-button about-button-2">
                        <button (click)="register()">BOOK NOW</button>
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<div class="container">
    <h5 style="color: rgb(49, 182, 137);">Price Details</h5>
    <br>
    <div class="container"> 
        
        <p>Price per property (GBP) per week: {{singleapartment[0].rate}}</p>
        <p>Rental rates for this holiday villa in Kerala, India</p>
      <p>Renatal basis:per property
        Rental rates quoted in:British Pound</p>
        <p>If you are only two for stay, you can avail 20% discount</p>
    </div>
    <br><hr>

    <h5 style="color: rgb(49, 182, 137);">Booking Procedure:</h5>
    <p>>> Booking confirmation against 25% advance payment.</p>
    <p>>> Balance payment – 45 days prior to your arrival day.</p>
    <p>>> We accept all the Credit card payments.</p>

</div>
<br><br><br><hr>
<body>
   
    <div class="container p-5">
        <div class="container contactSection">
            <h2 class="text-center">Contact Us</h2>
            <div class="location container">
              <div class="col-md-12 addressSection">
                <address>
                <div class="col-md-3 addressInfo">
                  <h2 style="color: rgb(49, 182, 137);">Postal Address</h2>
                  <p> <i class="fa fa-globe" aria-hidden="true"></i><a href="/"> homemy.com </a> </p>
                 
                  <p> <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+91-9810309000">+91-9400374720</a> </p>
                  <p> <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:011-40556703"> 011-4689767788</a> </p>
                </div>
                
                <div class="col-md-5 addressInfo">
                  <h2 style="color: rgb(49, 182, 137);"> Email Addresses</h2>
                <div class="emails">
                  <p><i class="fa fa-check" aria-hidden="true"></i>For Villas: &nbsp; <a href="mailto:rental@itrentalindia.com"> home@villas.com</a></p>
                  <p><i class="fa fa-check" aria-hidden="true"></i>For Apartments: &nbsp;<a href="mailto:fms@itrentalindia.com">home@apartment.com</a></p>
                  <p><i class="fa fa-check" aria-hidden="true"></i>For Enquiry: &nbsp;<a href="mailto:its@itrenalindia.com">its@home.com</a></p>

                
                   
                </div>
              </div>
                </address>
              </div>
          </div>
        </div>


