<div class="container1">
    <div class="darkened-image"><img src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/anantara/images/anantara-iko-mauritius/accommodation/four-bedroom-poll-villa/anantara_iko_mauritius_banner_four_bedroom_villa-banner.jpg" style="width:100%"></div>
    
    <div class="centered" style="color: rgb(252, 248, 248); font-family: 'Times New Roman', Times, serif;"><h1>Carrers</h1></div>
  </div>
  <hr>
<h2 class="text-center" style="color: rgb(33, 134, 63);">Job Vaccancies</h2>

  <div class="container">
    <div class="row mb-4">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5 style="color: rgb(38, 255, 18);">Business Management</h5>
                    <p class="mb-0 text-muted" style="color: rgb(38, 255, 18);">124 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5  style="color: rgb(38, 255, 18);">Interier Designer</h5>
                    <p  style="color: rgb(38, 255, 18);" class="mb-0 text-muted">6 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5  style="color: rgb(38, 255, 18);">Civil Engineer</h5>
                    <p  style="color: rgb(38, 255, 18);" class="mb-0 text-muted">5 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5  style="color: rgb(38, 255, 18);"> Marketing</h5>
                    <p  style="color: rgb(38, 255, 18);" class="mb-0 text-muted">8 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5  style="color: rgb(38, 255, 18);">Architect</h5>
                    <p  style="color: rgb(38, 255, 18);" class="mb-0 text-muted">14 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5  style="color: rgb(38, 255, 18);">Electricians</h5>
                    <p  style="color: rgb(38, 255, 18);"class="mb-0 text-muted">7 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>


<br><hr>
<h2 class="text-center"  style="color: rgb(38, 255, 18);">Apply Now</h2>

  
<div class="container text-center">
    <div class="row">
        <div class="col-11 p-5 m-5 border border-2 rounded border-dark">
            <form [formGroup]= "AddForm">
                <h3 class="text-center">Fill Out Form</h3>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" formControlName="Name"aria-describedby="emailHelp">
                
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1"formControlName="Email" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">phone</label>
                  <input type="text" class="form-control" id="exampleInputPassword1"formControlName="Phone">
                  
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Qualification</label>
                    <input type="text" class="form-control" id="exampleInputPassword1"formControlName="Qualification">
                    
                  </div>
              

                <!-- <div class="mb-3">
                    <label>
                        <span>Qualification <span class="required">*</span></span>
                        <select name="selection" formControlName="Qualification">
                          <option value="select">Choose...</option>
                          <option value="BTech">BTech</option>
                          <option value="BBA">BBA</option>
                          <option value="MBA">MBA</option>
                          <option value="BArch">BArch</option>
                          <option value="EEE">EEE</option>
                        
                        </select>
                      </label>
                </div> -->
                

                <button type="submit" class="btn btn-dark" (click)="add()" >Submit</button>
              </form>
        </div>
       
    </div>
   
</div>
