<nav> 
    <div class="menu-icon">
      <span class="fas fa-bars"></span>
    </div>
  
    <div style="color: rgb(19, 17, 17);"class="logo"><img src="https://www.luxurykeralavillas.com/img/logo.svg"></div>
  
    <div class="nav-items">
     
       <li><a class="dropdown-item"  routerLink="">HOME</a></li>
      <li><a class="dropdown-item" routerLink="about">ABOUT</a></li>
      <li><a class="dropdown-item" routerLink="villas">VILLAS</a></li>
      <li><a class="dropdown-item" routerLink="apartments">APARTMENTS</a></li>
      <li><a class="dropdown-item" routerLink="carrers">CARRIERS</a></li>
      <li><a class="dropdown-item" routerLink="register">SIGNUP</a></li>
      <li><a class="dropdown-item" routerLink="contact">CONTACT</a></li>
     </div>
</nav>
  
  
  
