<body style="background-color: rgb(187, 243, 224);"><br><br>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgba(52, 235, 107, 0.904);text-align: center;">Find A Space That Fits You Perfectly</h2>
    <br>
    <p>Find your perfect accommodation through Owner Direct. Hotels offer so little and have high costs. Owner Direct offers space, flexibility and extras such as private kitchens, luxurious great rooms, green spaces and more for less. Vacation rentals, villa rentals, condo rentals or apartment rental accommodation homes as well as 
        stand alone villas are for rent in Kerala, India. Found along the shores of the Malabar Coast, visitors to Kerala enjoy a lush and tropical retreat with spas, entertainment and great food. There are wildlife sanctuaries as well as beaches and shopping. Visit this ocean paradise rich in culture, tradition and art. Rent exactly the type 
        of holiday lodgings you need directly from owners of apartment rentals, villa rentals, condo rentals or vacation rental accommodations in Kerala, India.Health tourism is on the rise in Kerala and one can come for a healing retreat focused on Ayurveda. Vacation rental accommodations are available through Owner Direct Vacation rentals
        and are ready for check in. Find accommodations such as villa rentals, condo rentals or apartment rentals with room for the whole family.Ecotourism is also very popular in Kerala. Adventures include; bird watching programs, hiking, trekking, mountaineering and mountain biking. Water sports such as surfing, kayaking and boating are also offered. 
        Visit the big beaches including Kovalam or Bekal. Wildlife parks include the Periyar Tiger Reserve and the Thattekad Bird Sanctuary. Experience the best that Kerala has to offer with accommodations through Owner Direct Vacation Rentals. Your holiday in Kerala will be one to remember</p>
    
    <br><br><br>
    <section class="about-wrap1 motion-effects-wrap">
        <div class="shape-img1">
    
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-box1 wow fadeInLeft" data-wow-delay=".3s">
                        <div class="">
                            <div class="motion-effects1">
                                <img src="https://www.travancorebuilders.com/theme/images/slider/b5.jpg" alt="shape" width="550" height="380">
                            </div>
                            
                        </div>
                                                   
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-box2 wow fadeInRight" data-wow-delay=".5s">
                        <div class="item-heading-left mb-bottom">
                            <!-- <span class="section-subtitle" style="color: rgb(1, 2, 2);"><b>About Us</b></span> -->
                            <h2 class="section-title" style="color:rgb(9, 190, 63)">Luxury Kerala Villas</h2>
                            <!-- <div class="bg-title-wrap" style="display: block;">
                                <span class="background-title solid">Who we are</span>
                            </div> -->
                        </div>
                        <p>Luxury Kerala Villas is the one and only company providing Self – catering Holiday Villas / Apartments in Kerala. All of our villas/apartments are managed by us. All of our villas/apartment is Government approved and the approval is granted by Homestay Classification Committee, Department of Tourism, Government of Kerala.
                        </p>
                        <p>Kerala is famed for its warm and welcoming people and for its beautiful beaches, lush backwaters, enticing cuisine and languid pace of life but the forested hills and narrow waterways can also be enjoyed by those seeking some gentle activity.</p>
    
                        <!-- <div class="about-box-10">
                           <div class="banner-button about-button-2">
                            <a href="" class="banner-btn-info">View More</a>
                        </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section><br><br><br>
    <section class="about-wrap1 motion-effects-wrap">
        <div class="shape-img1">
    
        </div>
        <div class="container">
            <div class="row">
    
                <div class="col-lg-6">
                    <div class="about-box2 wow fadeInRight" data-wow-delay=".5s">
                        <div class="item-heading-left mb-bottom">
                            <span class="section-subtitle" ><b></b></span>
                            <h2 class="section-title"style="color:rgb(9, 190, 63);">APARTMENTS</h2>
                            <!-- <div class="bg-title-wrap" style="display: block;">
                                <span class="background-title solid">Who we are</span>
                            </div> -->
                        </div>
                        <p>An apartment building or block of flats may have a few or many apartments. Each apartment is a separate room or set of rooms for people to live in. Sometimes an apartment will only be one small room, and tenants will have to share other rooms like the bathroom and kitchen. Other times, tenants will only share an entrance hallway with different doors leading to each apartment. This shared area is often cared for by a janitor or caretaker.
                            An apartment, flat, or unit, is a self-contained housing unit that occupies part of a building, generally on a single story. There are many names for these overall buildings, see below.
    
                        </p>
                    
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-box1 wow fadeInLeft" data-wow-delay=".3s">
                        <div class="">
                            <div class="motion-effects1">
                                <img src="https://media.equityapartments.com/images/c_crop,x_0,y_0,w_1920,h_1080/c_fill,w_737,h_414/q_auto,f_auto/4227-21/radius-koreatown-apartments-exterior" alt="shape" width="550" height="250px">
                            </div>
                            
                        </div>
                                                   
                    </div>
                </div>
            </div>
        </div>
    </section><br><br><br> 
    </body>

